body {
  background: #3a3a3a;
  font-family: Helvetica, Arial, sans-serif;
}

#content {
}

#inputbox {
  margin: 1em;
  position: absolute;
  top: 68px;
  width: 90%;
  background: #a3a3a3;
  padding: 1em;
  text-align: center;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
}

.notif {
  font-family: Courier;
  font-color: gray;
}

.chat {
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  margin-left: 10px;
  margin-top: 0px;
  background: none;
  position: relative;
  left: 5px;
  width: 90%;
}

.ch-container {
  display: block;
  padding: 15px;
  margin: 0px;
}

.icon{
  width: 50px;
  height: 50px;
  display: inline;
  float: left;
  margin: 4px;
}

.icon pre{
  float: left;
}

#nickbox {
 position: absolute;
 margin-top: 10px;
 margin-left: 10px;
 background: #aaaaaa;
 padding: 10px;
 height: 42px;
}

#chat-container{
padding: 5px;
list-style-type: none;
}

ol#chat-container>li{
padding: 3px;
}

ul.menu{
  list-style-type: none;
  font-size: 12px;
  margin-top: 0;
  margin-left: 74px;    
}

ul.menu>li {
  display: inline;
}

input#submitnick {
  -moz-border-radius: 0 5px 5px 0;
  -webkit-border-radius: 0 5px 5px 0;
  border-radius: 0 5px 5px 0;
  position: relative;
  top: 0;
  left: -2px;
  border: 0.5px solid gray;
  height: 27px;
}

input#nick {
  -moz-border-radius: 5px 0 0 5px;
  -webkit-border-radius: 5px 0 0 5px;
  border-radius: 5px 0 0 5px;
  padding: 5px 5px;
  width: 126px;
  height: 17px;
  position: relative;
  top: 0;
  border: 0.5px solid gray;
}

input#passwd {
  padding: 5px;
  width: 128px;
  height: 17px;
  position: relative;
  top: 0;
  border: 0.5px solid gray;
}

#chatlog {
  padding: 0.8em;
  width: 80%;
  border: 1px solid #0A0A0A;
  background: none repeat scroll 0 0 #fafafa;
  position: absolute;
  top: 150px;
  left: 9%;
}

#cmdtext {
   -moz-border-radius: 4px 4px 4px 4px;
   -webkit-border-radius: 4px;
   border-radius: 4px;
   background: none repeat scroll 0 0 #ffffff;
   border: 1px solid #AAAAAA
   color: #333333;
   font-size: 14px;
   height: 20px;
   line-height: 1px;
   padding: 2px 4px;
   width: 85%;
}

input#submit {
  height: 24px;
  width: 64px;
  background-image: url('/img/tile-blue.jpg');
  background-repeat: repeat-x; 
  border: 0.6px solid blue;
  -moz-border-radius: 10px;
}

p {
  margin: 1em;
}

ul {
  margin-left: 3em;
}
