* {
  margin: 0;
  padding: 0;
}

h1 {
  text-align: center;
  color: #fbfbfb;
}

body {
  margin: 2em;
  background: #3a3a3a;
  font-family: Helvetica, Arial, sans-serif;
}

#content {
}

#inputbox {
  margin: 1em;
  position: absolute;
  top: 68px;
  width: 90%;
  background: #a3a3a3;
  padding: 1em;
  text-align: center;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
}

.notif {
  font-family: Courier;
  font-color: gray;
}

.chat {
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  margin-left: 10px;
  margin-top: -3px;
  background: none;
  position: absolute;
  left: 65px;
  width: 90%;
}

.icon img{
  width: 50px;
  height: 50px;
}

#nickbox {
 position: absolute;
 margin-top: -25px;
 margin-left: -25px;
 background: #aaaaaa;
 padding: 10px;
 height: 42px;
}

ol#chat-container{
padding: 5px;
list-style-type: none;
}

ol#chat-container>li{
padding: 3px;
}

ul.menu{
  padding: 2px;
  list-style-type: none;
  font-size: 12px;
  margin-top: 3px;
  margin-left: 74px;    
}

ul.menu>li {
  display: inline;
}

input#submitnick {
  position: relative;
  top: -44px;
  width: 24px;
  left: 212px;
  font-size: 10px;
  height: 17px;   
}

input#nick {
  padding: 0 5px;
  width: 150px;
  height: 17px;
}

#nickform input {
   -moz-border-radius: 10px 10px 10px 10px;
   -webkit-border-radius: 10px;
   border-radius: 10px;
   border: 1px;
   margin: -5px 0 0 5px;
}

#chatlog {
  padding: 0.8em;
  width: 80%;
  border: 1px solid #0A0A0A;
  background: none repeat scroll 0 0 #fafafa;
  position: absolute;
  top: 150px;
  left: 9%;
}

input#cmdtext {
   -moz-border-radius: 4px 4px 4px 4px;
   -webkit-border-radius: 4px;
   border-radius: 4px;
   background: none repeat scroll 0 0 #ffffff;
   border: 1px solid #AAAAAA
   color: #333333;
   font-size: 1em;
   height: 20px;
   line-height: 1px;
   padding: 2px 4px;
   width: 85%;
}

input#submit {
  height: 29px;
  width: 64px;    
}

p {
  margin: 1em;
}

ul {
  margin-left: 3em;
}
